.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2 {
  font-family: 'Arial', sans-serif;
  color: white;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.song-item {
  background-color: lightsteelblue;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.play-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button svg {
  fill: white;
  width: 20px;
  height: 20px;
}

.song-icon {
  font-size: 24px;
}

.song-details {
  flex-grow: 1;
  text-align: left;
}

.song-title {
  font-weight: bold;
  font-size: 12px;
}

.song-artist {
  font-weight: bold;
  font-size: 16px;
}

.new-song-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.new-song-form input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.new-song-form button {
  padding: 8px 16px;
  background-color: lightskyblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-song-form button:hover {
  background-color: deepskyblue;
}





